/* elementtostyle{}, use for built in elements like h1, p, etc. */
/* #itemtostylebyid{} use to apply styling to an element with a specific id*/
/* .itemtostyle{} use this to apply styling to an element by declaring class="itemtostyle" in the starting tag.*/
body{
    background-color: lightcyan;
    width: 100%
}
h1 {
    text-align: center;
}
.board{
    padding:10px;
    border-collapse: collapse;

}
.board th,td{
    border: 1px solid;
    height: 60px;
    width: 60px;
}
.board .p1{
    background-image: radial-gradient(#951d1d 35%, #c02626 40%, #c02626 65%, transparent 70%);
}

.board .p2 {
    background-image: radial-gradient(#958d1d 35%, #c0a926 40%, #c0a926 65%, transparent 70%);

}

